@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    font-size: 10px;
    overflow: hidden;
}

html, body{
    width: 100%;
    height: 100vh;
}

html, body, ul, li, p, div{
    margin: 0;
}

ul, li{
    list-style: none;
}

*{
    font:1.4rem 'Poppins', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000;
}

.logo{
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: -0.2rem;
}

.header{
    position: relative;
    top: 2%;
    z-index: 1;
}

.header div{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .nav{
    position: absolute;
    top: 50%; right: 8%;
    transform: translateY(-50%);
    overflow: hidden;
    /* opacity: 0; */
    /* display: inline-block; */
}

.header .nav span{
    display: block;
    transition: 0.8s;
    transform: translateX(120%);
    opacity: 0;
}

.header .nav span a{
    display: inline-block;
    margin-left: 2.5rem;
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
}

.header .burger{
    position: relative;
    right: 3%;
    display: inline-block;
    width: 2.8rem;
    height: 2.1rem;
    cursor: pointer;
}

.header .burger span{
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    display: block;
    top: 0; left: 0;
    opacity: 1;
    transition: .5s;
}

.header .burger span:nth-of-type(2){ top: 50%;}

.header .burger span:nth-of-type(3){ top: 100%;}

/* ----------버거메뉴 인터랙션 ----------*/
.header .burger.active span:nth-of-type(1),
.header .burger.active span:nth-of-type(3){
    top: calc(50% - 1.5px);
}

.header .burger.active span:nth-of-type(1){
    transform: rotate(45deg);
}

.header .burger.active span:nth-of-type(2){
    opacity: 0;
    top: 80%;
    transform: rotate(10deg);
}

.header .burger.active span:nth-of-type(3){
    transform: rotate(-45deg);
}

/* ----------네비게이션 메뉴 움직임 ----------*/
.nav span.active{
    transform: translateX(0);
    opacity: 1;
}

.main{
    height: 100%;
}

/* ----------브라우저 백그라운드 ----------*/
.main .bg{
    position: absolute;
    right: 0;
    width: 65%;
    height: 100%;
    background: #ffc000;
    z-index: 0;
}

/* ----------메인 텍스트 ----------*/
.main .content{
    position: absolute;
    display: flex;
    align-items: center;
    left: 20%; top: 50%;
    transform: translateY(-50%);
}

.main .content div{
    padding-bottom: 5rem;
}

.main .content div strong,
.main .content div span,
.main .content div a{
    display: block;
    white-space: pre-line;
    color: #fff;
    opacity: 0;
    transform: translateY(30%);
    transition: 1s;
}

.main .content div strong{
    font-size: 7.4rem;
    text-transform: uppercase;
    line-height: 1.1;
    font-weight: 500;
    padding-bottom: 5rem;
}

.main .content div span{
    font-size: 1.7rem;
    font-weight: 200;
    padding-bottom: 3.5rem;
}

.main .content div a{
    display: inline;
    font-size: 1.5rem;
}

/* ----------메인 이미지 01----------*/
.main .content .vita-img{
    width: 400px;
    height: 600px;
    flex-shrink: 0;
    opacity: 0;
    transition: 1.5s;
}
.main .content .vita-img img{
    width: 100%; height: 100%;
}

/* ----------메인 콘텐츠 넘버 ----------*/
.main .content-num{
    position: absolute;
    left: 1%; top: 50%; transform: translateY(-50%);
    font-size: 4rem;
}

.main .content-num:before,
.main .content-num:after{
    content: '';
    display: block;
    width: 2px; height: 170px;
    background: #ccc;
    margin: 0 auto;
}

.main .content-num:before{
    transform: translateY(-10%)
}
.main .content-num:after{
    transform: translateY(10%)
}

/* ----------인디게이터 ----------*/
.main .indi{
    position: absolute;
    display: block;
    width: 1.4rem;
    right: 3%; top: 50%;
    transform: translateY(-50%);
}

.main .indi span{
    width: 100%; height: 1.4rem;
    display: block;
    border: 1px solid #fff;
    border-radius: 100%;
}

.main .indi span:nth-of-type(2){
    margin: 2rem 0;
}

.main .indi span.active{
    background: #fff;
}


footer{
    position: absolute;
    width: 100%;
    bottom: 5%;
}

.sns{
    width: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateX(1210%)
}



/* ----------JS ----------*/
.main .content .vita-img.active{
    opacity: 1;
}

.main .content div strong.active{
    opacity: 1;
    transform: translateY(0);
}
.main .content div span.active{
    opacity: 1;
    transform: translateY(0);
}
.main .content div a.active{
    opacity: 1;
    transform: translateY(0);
}


/* ----------POPUP ----------*/

.popup{
    display: none;
    position: absolute;
    left: 0; top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}

.popup div{
    position: relative;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 800px; height: 550px;
}

.popup div a{
    display: block;
    width: 100%; height: 100%;
}

.popup div a img{
    width: 100%; height: 100%;
}

.popup .pop-close{
    display: block;
    width: 30px; height: 30px;
    position: relative;
    left: 101%; top: -100%;
    cursor: pointer;
}

.popup .pop-close span{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    top: calc(50% - 1px);
    background: #fff;
}

.popup .pop-close span:nth-of-type(1){
    transform: rotate(45deg);
}

.popup .pop-close span:nth-of-type(2){
    transform: rotate(-45deg);
}